.background--active {
  background-color: blueviolet;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vw;
}

.picture {
  height: 250px;
}

.picture--active {
  border: 5px solid red;
}
